<!DOCTYPE html>
<html>
<body style="background:#A8D6FE">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style1.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<p><marquee>jose</marquee></p>
	<p><IMG SRC="D:\ting.png"></p>
  </body>
</html>
