
   


<%= listado[0]. etiquetaVideo %>
<br>
<a href="<%= listado[0]. direccionVideo %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>
<br>
duracion: <%= listado[0]. duracion %>
<br>
top: <%= listado[0]. top %>



