
<table>
  <% var i; for (i=0; i < listado.length; i++) { %>        
     <tr>
<td>
<%= listado[i]. etiquetaVideo %>
</td>
<td>
<a href="<%= listado[i]. direccionVideo %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>

</td>

</tr>
  <% } %>
</table>
<p><marquee>La mejor variedad Musical. La radio de tus éxitos.</marquee></p>
<IMG SRC="jose.png">


