
   


<%= listado[1]. etiquetaVideo %>
<br>
<a href="<%= listado[1]. direccionVideo %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>
<br>
duracion: <%= listado[1]. duracion %>
<br>
top: <%= listado[1]. top %>



